body{
	margin:0;
	padding:0;
	background:#4b4a4a url(../img/bg-body.png) repeat-x 0 0;
	font:62.5%/1.4 Verdana, Tahoma, sans-serif;
}
img{border:none;}
form,fieldset{margin:0;padding:0;border:0;}
#page{
	width:942px;
	overflow:hidden;
	margin:0 auto;
	padding:0 0 45px;
	font-size:1.2em;
}
.line{
	text-decoration:line-through;}
/* header */

#header{
	width:100%;
	height:374px;
	overflow:hidden;
	background:url(../img/bg-header-transparent.png) no-repeat 0 0;
}
#header .background{
	width:100%;
	height:374px;
	overflow:hidden;
	background:url(../img/bg-header.jpg) no-repeat 27px 0;
}
h1{margin:0;}
h1  a{
	width:236px;
	height:45px;
	margin:12px 0 0 45px;
	float:left;
	background:url(../img/bg-logo.png) no-repeat 0 0;
	text-indent:-9999px;
	overflow:hidden;
}

/* navigation */

#header ul{
	float:right;
	margin:15px 0 0;
	padding:0 41px 0 0;
	list-style:none;
}
#header ul li{
	float:left;
	display:inline;
	height:44px;
	margin:0 0 0 10px;
	background:url(../img/bg-nav-link.png) no-repeat 0 0;
}
#header ul li a{
	float:left;
	height:29px;
	padding:6px 10px 0 11px;
	font-size:1.33em;
	font-weight:bold;
	text-decoration:none;
	color:#69644D;
	background:url(../img/bg-nav-link-right.png) no-repeat 100% 0;
}
#header ul li a:hover{
	color:#AFBD76;
}

.ramit a{
	color:#AFBD76;
	text-decoration:none;
	font-size:15px;

}


.ramit a:hover{

	text-decoration:underline;
}
#header ul li.active{
	background:url(../img/bg-nav-link-active.png) no-repeat 0 0;
}
#header ul li.active a,
#header ul li.active a:hover{
	height:38px;
	color:#2D3C18;
	background:url(../img/bg-nav-link-active-right.png) no-repeat 100% 0;
}

/* content */

#content{
	width:100%;
	overflow:hidden;
	margin:9px 0 0;
	color:#90AF94;
}

/* left column */

#leftcol{
	width:634px;
	margin:auto;
	padding:0 0 0 14px;
	
}
#leftcol .block{
	width:100%;
	overflow:hidden;
	margin:2px 0 0;
}
#leftcol .block .block-top{
	width:100%;
	height:33px;
	background:url(../img/bg-leftblock-top.png) no-repeat 0 0;
}
#leftcol .block .block-content{
	width:522px;
	overflow:hidden;
	padding:15px 56px;
	background:url(../img/bg-leftblock.png) repeat-y 0 0;
}
#leftcol .block .block-bottom{
	width:100%;
	height:33px;
	background:url(../img/bg-leftblock-bottom.png) repeat-x 0 0;
}
h2{
	text-align:center;
}
form {
	padding:0.1em 13em;
	
	
}
form label{
	margin: 1em 0em;
   color:#B7CC60;
	display:block;
	font-weight: bold;
}
form input,select{
	padding:0.5em;

	width:100%;
	border:1px solid black;
	
	
}
form input[type=radio]{
     display: none;
}
#male{
	position: relative;
	cursor: pointer;
	font-weight: bold;
	padding-right: 13px;
	display: inline-block;
	margin-top: 1.5em;
}
#female{
	position: relative;
	cursor: pointer;
	font-weight: bold;
	padding-right: 13px;
	display: inline-block;
	margin-top: 1.5em;
	float: right;
}
#male::before,#female::before{
	content:"";
	border: 2px solid grey;
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: -8px 10px;
	margin-left: 0;
	border-radius: 50%;
	vertical-align: middle;
	background-color: white;
}


#male::after,#female::after{
	content:"";
	display: inline-block;
	position: absolute;
	width: 7px;
	height: 7px;
	background:rgba(34,34,34,0) ;
	left: 3.6px;
	top:15px;
	margin: -9px 10px;
	margin-left: 0;
	border-radius: 50%;
	transition: all 0.4s;
}
form input[type=radio]:checked{
	background: rgba(34,34,34,1);
}

form input,select:required{

}

form input:focus{
	border:3px solid #DCBF38;
	
}
form select:focus{
	border:3px solid #DCBF38;
}
form a.login-button{
	float:left;
	color:#4A3915;
	font-weight:bold;
	text-decoration:none;
	margin:20px 0 10px;
	background:url(../img/bg-yellow-button.png) no-repeat 0 0;
}
form a.login-button span{
	float:left;
	height:22px;
	padding:5px 9px 0 10px;
	cursor:pointer;
	background:url(../img/bg-yellow-button-right.png) no-repeat 100% 0;
}

form a.registration-button{
	float:right;
	color:#4A3915;
	font-weight:bold;
	text-decoration:none;
	margin:20px 0 10px;
	background:url(../img/bg-yellow-button.png) no-repeat 0 0;
}
form a.registration-button span{
	float:right;
	height:22px;
	padding:5px 9px 0 10px;
	cursor:pointer;
	background:url(../img/bg-yellow-button-right.png) no-repeat 100% 0;
}