{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Silkistore</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <link rel="stylesheet" type="text/css" href="{% static 'css/ie6.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" />
</head>
<body>
	<div id="page">
		<div id="header">
			<div class="background">

	            <h1><a href="#;" onclick="window.location = '/index'">DelliStore</a></h1>
				<ul>
					<li><a href="#;" onclick="window.location = '/index'">Home</a></li>
					<li><a href="#;" onclick="window.location = '/about'">About Us</a></li>
					<li><a href="#;" onclick="window.location = '/stock'">Stock</a></li>
					<li><a href="#;" onclick="window.location = '/contact'">Contact Us</a></li>
					<li class="active"><a href="#;" onclick="window.location = '/login'">Account</a></li>
					<li><a href="#;" onclick="window.location = '/cart'">Cart</a></li>
				</ul>
			</div>
		</div>
		<div id="content">
		<div id="leftcol">
		<div class="block">
		    <div class="block-top"></div>
		    <div class="block-content">
		    <h2>Login to your account</h2>
			<form active="" method="POST">
				{% csrf_token %}
                {% for fm in form %}
               {{fm.label_tag}}{{fm}}{{fm.errors|striptags}}
                {% endfor %}
               <!-- <label for="">PASSWORD</label>
	     	    <input type="password"  placeholder="Enter Password" required>
                <label for="">CONFIRM PASSWORD</label>
	     	    <input type="password"  placeholder="Enter Confirm Password" required>
	     	    {% endfor %}-->
                <input type="submit" value="Save">
                <a class="login-button" href="#;" onclick="login();"><span>Login</span></a>

            </form>

		</div>
			<div class="block-bottom"></div>
		</div>
		</div>
		</div>
		 <div id="footer">
			<p>©2020 The Silkistore. Design by <a href="">Vaishnavi Mehrotra</a></p>
			<ul>
				<li><a href="#;" onclick="window.location = '/index'">Home</a></li>
				<li><a href="#;" onclick="window.location = '/about'">About Us</a></li>
				<li><a href="#;" onclick="window.location = '/stock'">Stock </a></li>
				<li><a href="#;" onclick="window.location = '/contact'">Contact us</a></li>
			</ul>
		</div>
    </div>
		<script type="text/javascript" src="{% static 'js/pngfix.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/ui-components.js' %}"></script>
		</body>
		</html>